

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
 

  <a routerLink="/" ><img class="navbar-brand scale" src="assets\content\logo.jpg" alt="logo ap cua toi"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
        routerLink="/shopping-cart">
        Shopping cart
        <span *ngIf="cart$ |async as cart" class="badge badge-warning badge-fill"> {{cart.totalItemCount}} </span>
      </a>
      </li>
    
      
    </ul>
</div>

    <ng-template #anonymousUser>
        <a  class="nav-link " routerLink="/login">Login</a>
    </ng-template>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  
      <div *ngIf="userApp  ; else anonymousUser" ngbDropdown class="nav-item dropdown show">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userApp.name}} </a>
          <div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="my-order" >My orders</a>

              <ng-container *ngIf="userApp.isAdmin">
            <a class="dropdown-item" routerLink="admin/admin-orders">Manage orders</a>
            <a class="dropdown-item" routerLink="admin/products">Manage products</a>
          </ng-container>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
    </form>
 

</nav>



